@charset "ISO-8859-1";

.login-register-body{
	display:flex;
	gap: 2rem;
}

.lab-in{
	display:flex;	
	margin-bottom:1rem;
}

.login-register-body label{
	min-width:6rem;	
}

.log-reg-errors{
	display:flex;
	flex-direction:column;
}