@charset "ISO-8859-1";

body{
	width:80%;
	margin: 1rem auto
}

.login-header{
	display:flex;
	flex-direction:column;
	align-items:center;
}

.login-header>h1{
	color:blue;
}

.log-reg-container{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	gap:2rem;
	border:2px solid black;
	padding:2rem;
}



.lab-in{
	display:flex;
	margin-bottom:1rem;
}

.lab-in>label{
	min-width:8rem;
}