@charset "ISO-8859-1";
* {
	margin:0px;
	padding:0px;
	box-sizing:border-box;	
}


body {
	background-color:lightblue;
	width:90%;
	margin:0px auto;
}

.home-header, .show-header{
	display:flex;
	justify-content:space-between;
	margin:1rem 0rem;
}


.home-l{
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.home-r{
	display:flex;
	flex-direction:column;
	justify-content:center;
}