@charset "ISO-8859-1";

body {
	background-color:rgb(128, 128, 64);
	width:80%;
	margin: 0 auto;
	margin-top: 2rem;
}

form{
	display:flex;
	flex-direction:column;
	padding:1rem;
	border: 2px solid black;
	background-color: rgb(138, 128, 84);
}

#form-container{
	margin-top: 5rem;	
}

form>input[type="submit"]{
	width:fit-content;
}

form>label{
	font-size:1.5rem;
}

.text-danger{
	font-weight: bold;
}

#errors, #show-body{
	display:flex;
	flex-direction: column;
	background-color: black;
}

#actions, #show-body>div{
	display:flex;
	align-items:center;
	gap: 1rem;
	
}

#actions>form{
	border:none;
	padding:0;
}


#edit-header, #show-header{
	display:flex;
	justify-content: space-between;
	align-items:center;
}

#show-body{
	background-color: rgb(218 201 130);
	padding:1rem;
	width:fit-content;

}

#show-body>div>*{
	font-size:2rem;
}

#show-body>div>p{
	min-width:35rem;
}




